html {
    min-height: 100vh;
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #0F0F0F;
    color: #EDEDED;
}

body {
    height: 100%;
    margin: 0;
}

.height-fit {
    height: fit-content;
}

.width-fit {
    width: fit-content;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.blue {
    color: blue;
}
.gold {
    color: gold;
}
.text-gray {
    color: #B0B0B0;
}

.background-black {
    background-color: black;
}
.background-soft-black {
    background-color: #0F0F0F;
}
.background-deep-grey {
    background-color: #121212;
}

.no-extra {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}