:root {
    --background-2: #1C1C1C;
    --background-1: #121212;
    --blue: #4682B4;
    --text-1: #D3D3D3;
    --text-2: #808080;
}

html, body {
    width: 100%;
    min-height: 100%;
    background-color: var(--background-1);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-2);
}

nav {
    font-size: 1.2em;
    width: 100%;
}
nav > p, nav > div > p {
    margin: 18px 10px;
    padding: 0;
    color: var(--blue);
}
nav > div > p > a {
    text-decoration: none;
    color: var(--text-2);
}
nav > div > p > a:hover {
    text-decoration: underline;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}