html {
    font-size: clamp(15px, 1.7vw, 20px);
}

img.me {
    border-radius: 20px;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 4vw;
    width: auto;
    object-fit: contain;
}
p.about-paragraph {
    width: fit-content;
    margin-top: 5vh;
    margin-right: 10vw;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: var(--background-2);
    width: 95%;
    height: 95%;
    margin: 2.5%;
    border-radius: 20px;
}
.card > p {
    margin: 0 1.5vw;
    margin-top: 5vh;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .yap-area {
        display: block;
        text-align: center;
    }
    p.about-paragraph {
        margin: 1.5vh 5vw;
    }
    img.me {
        margin: 1vh 5vw;
    }
}

h1 {
    font-size: clamp(40px, 4vw, 100px);
    margin: 0 1.5vw;
    margin-top: 5vh;
}
h2 {
    margin: 0 10vw;
    font-size: clamp(25px, 2.8vw, 50px);

}