nav > p, nav > div > a {
    margin: 20px 8px;
}

header {
    text-align: center;
    width: 100vw;
    height: auto;
    background-image: url('resources/images/jewel.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}