nav > p, nav > div > a {
    margin: 20px 8px;
    color: blue;
}

header {
    text-align: center;
    width: 100vw;
    height: 70vh;
}

header > h2 {
    font-size: 2rem;
    color: #5A189A;
}
header > h1 {
    font-size: 3.5rem;
    color: blue;
}