h1 {
    font-size: clamp(40px, 5vw, 100px);
}

#solutions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 5vh 3vw;
}

.solution {
    scroll-snap-align: center;
    min-width: 20vw;
    max-width: 20vw;
    height: auto;
    padding: 1vw;
    margin: 1vh 0.5vw;
    text-align: center;
    background-color: var(--background-2);
    border-radius: 25px;
}
.solution > h2 {
    font-size: clamp(20px, 1.7vw, 30px);
}
.solution > h2 > a {
    text-decoration: none;
    color: inherit;
}
.solution > h2 > a:hover {
    text-decoration: underline;
}

.solution-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 80%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
}
.solution-detail > div {
    width: 50%;
}
.solution-detail > div > ul {
    list-style-type: none;
    text-align: left;
    padding: 0 0.8vw;
}
.solution-detail > div > ul > li {
    margin: 0.6vh 0;
}
.solution-detail > div > img {
    width: 80%;
    border-radius: 10px;
}
.solution-detail > div > button {
    align-self: flex-end;
    margin: 2% 40%;
    width: 20%;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--background-2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.solution-detail > div > button:hover {
    background-color: var(--background-1);
}


@media (max-width: 600px) {
    .solutions {
        flex-direction: column;
    }
    .solution {
        justify-self: center;
        margin: 1vh 5vw;
        max-width: 90%;
        min-width: 90%;
    }
    .solution-detail {
        flex-direction: column;
        max-height: 90%;
    }
    .solution-detail > div {
        width: 100%;
    }
}